

<div class="teamBtn" data-teamName="name">
    <img src="img/{{nameSimplified}}.png"> {{name}}
    <i class="fa fa-futbol-o" aria-hidden="true"></i>
</div>



<!--

name
nameSimplified  name.split(' ').join('').toLowerCase()}


function createTeamButton(name, parent) {
            var teamNode = document.createElement("div");
            teamNode.setAttribute("class", "teamBtn");
            teamNode.setAttribute("data-teamname", name);
            teamNode.innerHTML = `<img src="img/${name.split(' ').join('').toLowerCase()}.png"> ${name} <i class="fa fa-futbol-o" aria-hidden="true"></i>`;
            teamNode.style.cursor = "default";
            var div = document.createElement("div");
            div.setAttribute("class", "divPlayers");
            teamNode.appendChild(div);
            parent.appendChild(teamNode);
        }

-->