/* app css stylesheet */

$blue: #a3d5d3;

body {
  font-size: 13px;
  background-color: $blue;
  font-family: 'Poppins', sans-serif;
}

.container {
  margin: 20px;
  text-align: center;
}

.teamBtn {
  height: 25px;
  font-weight: bold;
  width: 130px;
  cursor: pointer;
  background-color: azure;
  border-radius: 25px;
  text-align: center;
  align: center;
  padding: 3px;
  margin-top: 5px;
  margin-bottom: 5px;

  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.row {
  padding-bottom: 10px;
  padding-top: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
//background-color: white;
}

#winnerTable {
  background-color: goldenRod;
  height: 500px;
  padding: 80px;
  border-radius: 40px;
}

#winner {
  font-size: 200px;
  text-align: center;
}

.win {
  background-color: lightgreen;
}

.ctrlBtn {
  background: MediumSeaGreen;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 5px;
}

.ctrlBtn:hover {
  background-color: darken($blue,10%);
}

.teamBtn:hover {
  background-color: darken(LightCyan,10%);
}

.detailedHtmlBtn{
  margin-left: 100px;
}

table {
  text-align: center;
}

th {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

team-table td {
  width: 200px;
}

team-table span {
  cursor: pointer;
}

group-table span {
  cursor: pointer;
}

.groupTableNameTd {
  text-align: left;
  width: 125px;
}

