<div class="container-fluid">

    <button ng-if="!isRunning" class="btn btn-light ctrlBtn" ng-click="start()">
        <i class="fa fa-play-circle " aria-hidden="true"></i>
        <span>Start</span>
    </button>

    <button ng-if="isRunning" class="btn btn-light ctrlBtn" ng-click="stop()">
        <i class="fa fa-pause-circle " aria-hidden="true"></i>
        <span>Stop</span>
    </button>

    <button class="btn btn-light ctrlBtn" ng-click="reset()">
        <i class="fa fa-reply-all" aria-hidden="true"></i>
        <span>Reset</span>
    </button>

    <div class="container-fluid">

        <div class="row align-items-center">

            <div class="col" ng-repeat="pairs in pairsLeft">
                <div ng-repeat="pair in pairs" class="row">
                    <knock-out-match match-pair="pair"  ></knock-out-match>
                </div>
            </div>

            <div class="col" ng-repeat="index in [2,1,0]">
                <div ng-repeat="pair in pairsRight[index]" class="row">
                    <knock-out-match match-pair="pair"  ></knock-out-match>
                </div>
            </div>

        </div>
    </div>

</div>