<button class="btn btn-light ctrlBtn detailedHtmlBtn" history-backward>Back</button>

<div class="container" ng-controller="teamControllers">

    <h1><img ng-src="img/{{team.id}}_b.png" alt="{{team.name}}"> {{team.name}}</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <dl>
                    <dt>Match Played</dt>
                    <dd>{{team.matchedPlayed}}</dd>

                    <dt>Won</dt>
                    <dd>{{team.winMatches}}</dd>

                    <dt>Lost</dt>
                    <dd>{{team.lostMatches}}</dd>

                    <dt>Draw</dt>
                    <dd>{{team.drawMatches}}</dd>

                    <dt>Goals</dt>
                    <dd>{{team.goalFor}}</dd>

                    <dt>Goal Difference</dt>
                    <dd>{{team.goalDiff}}</dd>
                </dl>
            </div>

            <div class="col-md-4">
                <dl>
                    <dt>Matches</dt>
                    <dd ng-repeat="match in team.matches">{{match}}</dd>
                </dl>
            </div>

            <div class="col-md-4">
                <dl>
                    <dt>Players</dt>
                    <dd ng-repeat="player in team.players">{{player}}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
